* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 255, 0.411);
}

.container {
    margin: 120px auto;
    max-width: 440px;
    width: 100%;
    text-align: center;
}

h1, h2 {
    margin-bottom: 8px;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #0800779e;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #0e00d39e;
}